<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng Basics">
    <classes>
      <class name="testngProject.Testng01Basics"/>
      <class name="testngProject.Testng02UseSXML"/>
      <class name="testngProject.Testng03XML"/>
    </classes>
  </test> <!-- Test -->
  <test name="Personal Loan Login">
		<classes>
			<class name="testngProject.Testng04PersonalLoan"/>
		</classes>
	</test>
</suite> <!-- Suite -->


	


